.wrap {
  background-color: lightyellow;
  text-align: center;
}
.wrap h1 {
  color: orange;
  font-size: 30px;
}
.wrap img {
  width: 200px;
  height: 300px;
}
.wrap div {
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}